extends layout 
 
block content 
  h1= title 
  if (toShow == null)
    h2 No instance to update
  else
    - let engineid = toShow._id
    - let EngineType = toShow.EngineType
    - let FuelType = toShow.FuelType
    - let Transmission = toShow.Transmission

    div.row(class='mb-2')
    div.mr-1 ID is
    div #{engineid}
    - let actionid = "/resource/engines/" + engineid

    form(id='EngineForm', action=`/resource/engines/${toShow._id}`, method="PUT") 
      div.form-group 
          label.engineAttr(for='EngineType') Engine type 
          input#EngineType(type='text', name='EngineType' value=toShow.EngineType) 
      div.form-group 
          label.engineAttr(for='FuelType') Engine FuelType 
          input#FuelType(type='text', name='FuelType' value=toShow.FuelType) 
      div.form-group 
          label.engineAttr(for='Transmission') Engine Transmission 
          input#Transmission(type='text', name='Transmission' value=toShow.Transmission) 
      div.form-group 
          label.engineAttr(for='Cylinders') Engine Cylinders 
          input#Transmission(type='text', name='Cylinders' value=toShow.Cylinders) 
      input(type="submit") 

    script. 
      document.forms['EngineForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
          method: 'PUT', 
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
        }).then((resp) => { 
          return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
          alert("Save succeded") 
          // TODO handle body 
        }).catch((error) => { 
          // TODO handle error 
          alert("Save failed " + error ) 
        }); 
      }); 